<section id="home" class="hero-section">
  <div class="glow-bg"></div>
  <div class="container hero-content">
    <div class="hero-text animate-fade-in">

      <h1 class="name">Jorge Cruz</h1>
      <h2 class="role">
        <span class="gradient-text">Arquitecto de Software e Ingeniero en Sistemas.</span>
      </h2>
      <p class="description text-justify">
          Cuento con más de 9 años de experiencia. en desarrollo y arquitectura de software empresarial utilizando tecnologías como Java, Spring Boot y Angular. Especializado en diseño de soluciones escalables, desarrollo de APIs REST, microservicios y modernización de aplicaciones. Experiencia liderando iniciativas técnicas, colaboración con equipos multidisciplinarios y participación en entornos ágiles Scrum.
      </p>

      <div class="action-buttons">
        <a href="#contact" class="btn btn-primary">
          <i class='bx bxs-envelope'></i> Contáctame
        </a>
        <!-- Descargar CV -->
        <a href="docs/JorgeCruz_CV.pdf" class="btn btn-outline" download="JorgeCruz_CV.pdf">
          <i class='bx bxs-download'></i> Descargar CV
        </a>
      </div>

      <div class="social-icons">
        <a href="https://www.linkedin.com/in/jorge-uriel-cruz-lara-327bb9159/" target="_blank" rel="noopener noreferrer" class="social-icon">
          <i class='bx bxl-linkedin'></i>
        </a>
        <a href="https://github.com/JorgeCruz24" target="_blank" rel="noopener noreferrer" class="social-icon">
          <i class='bx bxl-github'></i>
        </a>
      </div>
    </div>
  </div>
</section>
